body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: bisque;
}

#registration-form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}

label {
    display: block;
    margin-bottom: 10px;
    background-color: bisque;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;

}

input[type="submit"] {
    background-color: #4CAF50;
    color: #1ad640;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#student-data {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}